<% include ./partials/boilerplate.ejs %>
<header>
    <h3 class='logo'>Now We're Cookin'</h3>
    <nav>
        <li><a class='current' href='/'>Home</a></li>
        <li><a href='/recipes'>Recipes</a></li>
        <li><a href='/recipes/add'>Add</a></li>
        <li><a href='/search'>Search</a></li>
    </nav>
</header>
<div class='container'>
    <h1 class='primary'><%= message %></h1>
    <img class='index_img' src='../static/images/silverware.png' alt='cutlery chalk drawing'>
    <h2 class='primary'><%= subTitle %></h2>
    <div class='button_container'>
        <a class='button' href='/recipes'>View all recipes</a>
        <a class='button' href='/recipes/add'>Create a new recipe</a>
    </div>
</div>
<% include ./partials/end %>