<% include ./partials/boilerplate.ejs %>
<header>
    <h1 class='title'></h1>
    <nav>
        <li><a class='current' href='/'>Home</a></li>
        <li><a href='/recipes'>Recipes</a></li>
        <li><a href='/recipes/add'>Add</a></li>
    </nav>
</header>
<div class='container'>
    <h1 class='index_title'><%= message %></h1>
    <img class='index_img' src='../static/images/silverware.png'>
    <p><%= subTitle %></p>
    <div class='button_container'>
        <a class='button' href='/recipes'>View all recipes</a>
        <a class='button' href='/recipes/add'>Create a new recipe</a>
    </div>
</div>
<% include ./partials/end %>