<% include ./partials/boilerplate.ejs %>
<header>
<h1>Now We're Cookin'</h1>
<nav>
        <li><a class='current' href='/'>Home</a></li>
        <li><a href='/recipes'>Recipes</a></li>
        <li><a href='/recipes/add'>Add</a></li>
</nav>
</header>
<div class="photo">
    <h1 class='title'><%= message %></h1>
    <h2><%= subTitle %></h1>
    <a href='/recipes'>View all recipes</a>
    <a href='/recipes/add'>Create a new recipe</a>
</div>