<% include ./partials/boilerplate.ejs %>
<header>
    <h3 class='logo'>Now We're Cookin'</h3>
    <nav>
        <li><a href='/'>Home</a></li>
        <li><a href='/recipes'>Recipes</a></li>
        <li><a href='/recipes/add'>Add</a></li>
        <li><a class='current' href='/search'>Search</a></li>
    </nav>
</header>
<div class='container'>
    <h1 class='logo'><%= subTitle %></h1>
    <div class='button_container search'>
        <input type="text" name="search" placeholder="Enter an ingredient...">
        <a class='button' href='/recipes'>Search</a>
    </div>
    <h2 class='title'><%= message %></h2>
    <img class='attribution' src='../static/images/Edamam_logo.png' alt='Edamam Logo'>
</div>
<% include ./partials/end %>