body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222 url('../images/bg.png');
    background-attachment: fixed;
}

/* ###### Navigation ###### */

header {
    width: 70vw;
    margin-top: 15px;
    display: flex;
    flex-direction: row; 
}
nav, li {
    flex: 1;
    font-size: 20px;
    list-style: none;
}
.logo {
    flex: 2;
    font-size: 23px;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: left;
    color: #f4f4f4;
}
nav {
    display: flex;
    flex-direction: row;
    text-align: right;
}
.current, nav a:hover {
    color: #f4f4f4;
    border-bottom:dotted;
}

/* ###### Text ####### */

h1 {
    font-size: 60px;
    text-align: center;
    word-wrap: break-word;
}
.title, .primary {
    font-family: 'Love Ya Like A Sister', cursive;
}
.primary {
    color: #f4f4f4;
    margin: 30px;
}
.title {
    color: #E25D38;
}
.recipe_title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: #222;
    padding: 20px;
}
.individ {
    padding: 0;
    line-height: 40px;
}
.secondary {
    font-size: 30px;
    padding: 5px;
}
h2 {
    padding-bottom: 12px;
    text-align: center;
    color: #222;
}
p {
    margin: 1em 0;
}
hr {
    width: 70vw;
    border: 1px solid #f4f4f4;
}

/* ###### Links ###### */

a {
    color: #818181;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
a:hover {
    color: #f4f4f4;
}
.back {
    display: block;
    padding: 10px;
}

/* ###### Polaroid Container ###### */

.container {
    width: 90vw;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.polaroid {
    width: 50vh;
    height: 60vh;
    background: #f5f5f5;
    margin: 20px auto;
    box-shadow: 3px 2px 7px 2px rgba(0,0,0,0.85);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: rotate(5deg);  
}
.single {
    margin: 40px;
    box-sizing: border-box;
}
.index {
    filter: grayscale(100%);
    transition: all 0.4s ease;
}
.index:hover {
    filter: none;
}
.polaroid:nth-child(2n+0) {
    transform: rotate(-2deg);
}
.polaroid:nth-child(3n+0) {
    transform: rotate(1deg);
}
.polaroid_content {
    flex: 1;
    height: 20vh;
    width: 50vh;
}
.description {
    width: 40%;
}

/* ###### Images ###### */
.index_img {
    width: 50%;
}
.polaroid_photo {
    width: 50vh;
    height: 45vh;
    border: 20px solid #f5f5f5;
    box-sizing: border-box;
    align-self: flex-start;
}
.blank {
    background: #222;
}
.polaroid_photo img {
    width: 100%;
    height: 100%;
}

/* ###### Form ###### */
#ingredientlist {
    margin: 10px 0;
}
#ingredients {
    display: none;
}
.input_form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input, textarea {
    font-size: 1em;
    color: #f4f4f4;
    padding: 5px;
    border: none;
    border-bottom: 3px solid grey;
    background-color: transparent;
    margin: 10px;
    transition: 0.5s all;
}
input:focus {
    outline: none;
    border-bottom: 3px solid #f4f4f4;
    transition: 0.5s all;
}
.single_form {
    display: inline-block;
}
textarea  {
    width: 75%;
    height: 20vh;
    border: 3px solid grey;
}
textarea:focus {
    outline: none;
    border: 3px solid #f4f4f4;
}
.description_text {
    text-align: justify;
}
#photo {
    color: #222;
}
#photo:focus {
    border-bottom: 3px solid #222;
}
.button_container {
    text-align: center;
}

/* ###### Buttons ###### */
.button {
    font-size: 1em;
    color: #f4f4f4;
    padding: 10px;
    border: 1px dashed #f4f4f4;
    border-radius: 10px;
    background: transparent;
    margin: 20px;
    transition: all 0.4s ease;
    cursor: pointer;   
}
.button:hover {
    color: #222;
    background-color: #f4f4f4;
    border: none;
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
}
.black {
    color: #222;
    padding: 2px 8px;
    border: 1px solid #222;
    border-radius: 6px;
    margin: 0 5px;
}
#topButton {
    position: fixed;
    right: 30px;
    bottom: 20px;
    opacity: 0.5;
}

/* ###### Footer ###### */
footer p {
    color: grey;
}
footer a {
    text-decoration: underline;
}

/*###### Tablet Media Query ######*/
/*################################*/

@media screen and (max-width: 1000px) {
  body {
    font-size: 12px;
  }
  header {
    margin-top: 10px;
    flex-direction: column;
  }
  nav {
    flex-direction: column;
    justify-content: center;
  }
  /* ####### Text ###### */
  h1 {
    font-size: 20px;
  }
  li {
    font-size: 16px;
    text-align: center;
    padding: 5px;
  }
  h3, h4 {
    font-size: 18px;
  }
  h3 {
    line-height: 30px;
  }
/* ###### Polaroid Container ###### */
  .polaroid {
    width: 40vw;
    height: 50vw;
  }
  .polaroid_photo {
    width: 40vw;
    height: 35vw;
  }
  .polaroid_content {
    height: 15vw;
    width: 40vw;
  }
}
/*###### Mobile Media Query ######*/
@media screen and (max-width: 600px) {
.nav {
    text-align: center;
}
.tertiary {
    display: none;
}
/* ###### Polaroid Container ###### */
.container {
    margin: 20px;
}  
.polaroid {
    width: 50vw;
    height: 60vw;
    margin: 20px;
}
.polaroid_photo {
    width: 50vw;
    height: 45vw;
    border: 10px solid #f5f5f5;
}
.polaroid_content {
    height: 25vw;
    width: 50vw;
}
.index {
    filter: none;
}
/* ###### Text ###### */
.recipe_title {
    font-size: 18px;
}
.secondary {
    padding-top: 0;
}
.individ {
    padding: 0 5px 8px;
}
.description {
    width: 60%;
}
.black {
    padding: 2px 5px;
}

}