body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222 url('../images/bg.png');
    background-attachment: fixed;
}
header {
    width: 90vw;
    margin-top: 15px;
    display: flex;
    flex-direction: row; 
}
 header h1, nav {
    flex: 1;
    font-size: 30px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
    flex: 1;
    font-size: 20px;
}
h1 {
    font-size: 60px;
    text-align: center;
}
.index_title {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #fff;
    margin: 30px;
}
.title {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #fff;
}
.recipe_title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: #000;
    padding: 20px;
}
.index_recipe_title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    color: #000;
    padding: 5px;
}
hr {
    width: 70vw;
    border: 1px solid #f4f4f4;
    margin: 15px 0; 
}
h2 {
    padding-bottom: 12px;
    text-align: center;
    color: #000;
}
h3 {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    line-height: 45px;
    color: #4b453c;
    font-weight: bold;
    padding-bottom: 12px;
    word-wrap: break-word;
}
p {
    margin: 1em 0;
}
.index_description {
    color: #000;
    position: relative;
    bottom: 175px;
    visibility: hidden;
}
.index_description:hover {
    visibility: visible;
}
a {
    color: #818181;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
a:hover {
    color: #f4f4f4;
}
.back {
    display: block;
}
nav a:hover {
    border-bottom:dotted;
}
.current {
    color: #f4f4f4;
    border-bottom:dotted;
}
.index_img {
    width: 50%;
}
.container {
    width: 70vw;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.polaroid {
    max-width: 50vh;
    max-height: 60vh;
    background: #f5f5f5;
    padding: 40px 40px 10px;
    margin: 20px auto;
    box-shadow: 3px 2px 7px 2px rgba(0,0,0,0.85);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: rotate(5deg);  
}
.single {
    margin: 40px;
    box-sizing: border-box;
}
.index {
    filter: grayscale(100%);
    transition: all 0.4s ease;
}
.index:hover {
    filter: none;
}
.polaroid:nth-child(2n+0) {
    transform: rotate(-2deg);
}
.polaroid:nth-child(3n+0) {
    transform: rotate(1deg);
}
.polaroid_photo {
    height: 45vh;
    background: #1E1C18;
}
.polaroid_photo img {
    width: 100%;
    height: 100%;
}
.polaroid_title {
    flex: 1;
}
.description {
    width: 50%;
}
.input_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form {
    font-size: 1em;
    color: #f5f5f5;
    padding: 15px;
    border: none;
    border-bottom: 3px solid grey;
    background-color: transparent;
    margin: 10px;
    transition: 0.5s all;
}
.form:focus {
    outline: none;
    border-bottom: 3px solid #f5f5f5;
    transition: 0.5s all;
}
.single_form {
    display: inline-block;
}
.button_container {
    text-align: center;
}
.button {
    font-size: 1em;
    color: #f5f5f5;
    padding: 10px;
    border: 1px dashed #f5f5f5;
    border-radius: 10px;
    background: transparent;
    margin: 20px;
    transition: all 0.4s ease;
    cursor: pointer;   
}
.button:hover {
    color: #000;
    background-color: #f5f5f5;
    border: none;
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
}
.black {
    color: #000;
    padding: 2px 8px;
    border: 1px solid #000;
    border-radius: 6px;
    margin: 0 5px;
}
footer p {
    color: #818181;
}
footer a {
    text-decoration: underline;
}

/*###### Mobile Media Query ######*/
@media screen and (max-width: 1000px) {
  body {
    font-size: 12px;
  }
  header {
    margin-top: 10px;
    flex-direction: column;
  }
  nav {
    flex-direction: column;
    justify-content: center;
  }
  header h1 {
    font-size: 20px;
  }
  li {
    font-size: 16px;
    text-align: center;
    padding: 5px;
  }
  h1, h3, h4 {
    font-size: 18px;
  }
  h3 {
    line-height: 30px;
  }
  .frame{
    flex-direction: column;
  }
  .polaroid {
    max-width: 40vw;
    max-height: 50vw;
  }
  .polaroid_photo {
    height: 30vw;
}
}