<% include ../partials/boilerplate %>
<header>
    <h1 class='title'>Now We're Cookin'</h1>
    <nav>
        <li><a href='/'>Home</a></li>
        <li><a href='/recipes'>Recipes</a></li>
        <li><a class='current' href='/recipes/add'>Add</a></li>
    </nav>
</header>
<div class='container'>
    <h1 class='title'>New Recipe</h1>
    <hr>
  <div class='polaroid single'>
        <div class='polaroid_photo'>
            <img src='../static/images/shrimp_scampi.jpg'>
        </div>
    </div>
  <form class='input_form' method='POST' action='/recipes'>
    <input name='title' type='text' class='form' placeholder='title' />
    <input name='author' type='text' class='form' placeholder='author' />
    <input name='category_type' type='text' class='form' placeholder='category' />
    <textarea name='description' class='form' placeholder='Give a description here...'></textarea>
    <input type='submit' class='button' value='Create Recipe' />
  </form>
</div>
<% include ../partials/end %>