<% include ../partials/boilerplate %>
<header>
    <h3 class='nav title'>Now We're Cookin'</h3>
    <nav>
        <li><a href='/'>Home</a></li>
        <li><a href='/recipes'>Recipes</a></li>
        <li><a class='current' href='/recipes/add'>Add</a></li>
    </nav>
</header>
<div class='container'>
  <h1 class='title'>New Recipe</h1>
  <hr>
  <div class='polaroid single'>
    <div class='polaroid_photo'>
      <img src='../static/images/shrimp_scampi.jpg' alt='recipe photo'>
    </div>
    <div class='polaroid_content'>
      <h2>Your Photo Here</h2>
    </div>
  </div>
  <form class='input_form' method='POST' action='/recipes'>
    <label for='title'>Title<input name='title' id='title' type='text' class='form'/></label>
    <label for='author'>Author<input name='author' id='author' type='text' class='form'/></label>
    <label for='category_type'>Category<input name='category_type' id='category_type' type='text' class='form'/></label>
    <label for='description'>Description<textarea name='description' id='description' class='form' placeholder='Tell us about your recipe here...'></textarea></label>
    <input type='submit' class='button' value='Create Recipe' />
  </form>
</div>
<% include ../partials/end %>